@import "./MainHead.scss";
@import "./NavRight/index.scss";
@import "./Footer.scss";

.Main-class {
  padding-top: $headerHeight;
  padding-left: $sidebarWidth;
  
  @media (max-width: $sm) {
    padding-left: 0;
  }

  .main-container {
    display: flex;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  .main {
    flex: 1;
  }
}
