.MainHead-class {
  padding: 18px 33px;
  background-color: $mainBackgroundColor;
  & > span {
    font-size: 22px;
  }
  p {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 12.5px;
    letter-spacing: 2px;
    color: #909090;
    div {
      font-size: 12.5px;
    }
  }
}
