@import "./Header/index.scss";
@import "./Sidebar/index.scss";
@import "./Main/index.scss";

@import "./Pagination.scss";
@import "./Comment.scss";
@import "./Loading.scss";

.Layout {
  position: relative;
  margin: 0 auto;
  max-width: $lg;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.05);
}
