.Pagination-class {
  display: flex;
  justify-content: center;
  padding: 22px 0;
  ul {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 1px 2px 2px #ddd;
    li {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      cursor: pointer;
      a,
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        width: 15px;
        height: 15px;
        transition: width 0.15s, height 0.15s;
      }
      &:hover a,
      &:hover span {
        width: 100%;
        height: 100%;
        color: white;
        background: #333333;
      }
    }
    .center {
      background-color: #333333;
      color: white;
    }
  }
}
