.ERR-404-Class {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
  .left-404-img {
    margin-bottom: 150px;
    height: 300px;
  }
  .right-404-context {
    margin: 0 100px 150px 0;
    padding: 0 10px;
    height: 230px;
    h1 {
      font-size: 140px;
      font-weight: normal;
      text-align: center;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    a {
      color: yellowgreen;
    }
  }
}
