.Main-list-class {
  padding: 0 20px 20px;
  background-color: $mainBackgroundColor;

  .main-no-img {
    grid-template-columns: none !important;
  }
  .main-img-left-layout {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 50px 90px 50px;
    margin-bottom: 22px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 0 3px 10px rgba(170, 170, 170, 0.5);
      .left-img img {
        transform: scale(1.05);
      }
    }

    .left-img {
      grid-row: 1/4;
      display: block;
      margin: 0;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
      }
    }

    header {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0 5px;
      width: 100%;
      height: 100%;
      font-size: 19px;
      color: #555;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .top-badge {
        position: absolute;
        top: 5px;
        right: -25px;
        width: 80px;
        height: 20px;
        background-color: yellowgreen;
        font-size: 12px;
        color: #fff;
        text-align: center;
        transform: scale(0.7) rotate(45deg);
      }
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin: 14px 22px;
      font-size: 12.5px;
      color: #999;
      overflow: hidden;
    }

    .main-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 22px;
      font-size: 13px;
      color: #aaa;
      border-top: 1px solid rgba(222, 229, 231, 0.45);

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        padding-right: 10px;
      }
      i {
        font-size: 12px;
        &::before {
          content: "\e6e3";
          padding: 0 4px;
          font-family: $iconfont;
          color: #5fab0f;
        }
      }
    }
  }
}
