.Post-page-class {
  padding: 25px;
  background: $mainBackgroundColor;
  .omg-markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 30px 0 10px 0;
      font-weight: 360;
      line-height: 1.4;
      color: #555;
    }
    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
  }
}
