.Post-page-class {
  padding: 0 25px 25px;
  background: $mainBackgroundColor;
  article {
    padding: 5px 25px 20px;
    background: #fff;
    box-shadow: 1px 1px 5px #dfdfdf;
    border-radius: 8px;
  }

  .post-href-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 10px;
    list-style: none;
    a {
      display: inline-block;
      padding: 5px 14px;
      background-color: #fff;
      font-size: 13px;
      border-radius: 15px;
      box-shadow: 1px 1px 3px #eee;
      transition: 0.3s all ease;
      &:hover {
        box-shadow: 1px 1px 3px #d3d3d3;
      }
    }
  }
}
