.Catalogue-class {
  position: sticky;
  top: 50px;
  padding-top: 25px;
  @media (max-width: $md) {
    display: none;
  }
  
  .CatalogueTitle {
    margin-bottom: 10px;
    font-size: 16px;
    color: #999;
  }
  ul {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  li {
    padding-right: 10px;
    background-color: white;
    transition: background-color 0.4s;
    &:hover {
      background-color: #eee;
    }
    p {
      margin-top: 20px;
    }
    a {
      display: block;
      padding: 12px 20px;
      color: #777;
      font-size: 12.5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  li[data-depth="1"] {
    a {
      font-size: 13.5px;
    }
  }
  li[data-depth="2"] {
    a {
      padding-left: 25px;
    }
  }
  li[data-depth="3"] {
    a {
      padding-left: 30px;
    }
  }
  li[data-depth="4"] {
    a {
      padding-left: 35px;
    }
  }
  li[data-depth="5"] {
    a {
      padding-left: 40px;
    }
  }
  li[data-depth="6"] {
    a {
      padding-left: 45px;
    }
  }
  .catalogue-active {
    background-color: #eee !important;
  }
}
