@import "./News.scss";
@import "./NavTags.scss";

.NavRight-class {
  padding: 20px 15px;
  width: 225px;
  background-color: #f3f3f3;
  color: #999999;

  .navRight-container {
    padding: 20px 0;
    font-size: 15px;
  }
}
