@import "./News.scss";
@import "./NavTags.scss";
@import "./Catalogue.scss";

.NavRight-class {
  padding: 20px 15px;
  width: 225px;
  background-color: #f3f3f3;
  color: #999999;
  @media (max-width: $md) {
    width: 100%;
  }

  .navRight-container {
    padding: 20px 0;
    font-size: 15px;
  }
}
