.Statistics-class {
  padding: 15px 0;
  ul {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    li {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      font-size: 13.5px;
      span {
        &:nth-of-type(2) {
          font-size: 12.8px;
        }
      }
    }
  }
}
