$iconfont: "iconfont"; //icon-font name

$containerWidth: 1200px;
$hoverColor: yellowgreen;

@import "./reset.scss";

@import "./components/index.scss";

@import "./pages/index.scss";

$backgroundColor: #e6e6e6;

body {
  background-color: $backgroundColor;
}
