$iconfont:"iconfont";  //icon-font name

$containerWidth: 1080px;

@import "./reset.scss";

@import "./components/index.scss";

$backgroundColor: #e6e6e6;

body {
  background-color: $backgroundColor;
}
