.omg-markdown {
  pre,
  code {
    font-size: 13.5px;
    font-family: Roboto, "Courier New", Consolas, Inconsolata, Courier,
      monospace;
    margin: auto 5px;
  }

  code {
    white-space: pre-wrap;
    display: inline;
  }

  pre {
    font-size: 15px;
    line-height: 1.4em;
    display: block;
  }

  pre code {
    // white-space: pre;
    overflow: auto;
    border-radius: 3px;
    padding: 1px 1px;
    display: block;
  }

  strong,
  b {
    font-weight: bold;
    color: #222;
  }

  em,
  i {
    color: #444;
  }

  hr {
    margin: 1.5em auto;
    height: 0;
    border: 0.5px solid #444;
    background: none;
  }

  p {
    margin: 1.5em 5px;
  }

  table,
  pre,
  dl,
  blockquote,
  q,
  ul,
  ol {
    margin: 10px 5px;
  }

  ul,
  ol {
    padding-left: 15px;
  }

  li {
    margin: 10px;
  }

  li p {
    margin: 10px 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0;
    padding-left: 10px;
  }

  ul {
    list-style-type: circle;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
  }

  dl dd {
    margin: 0 0 10px;
    padding: 0 10px;
  }

  blockquote,
  q {
    border-left: 2px solid #444;
    padding: 0 10px;
    color: #777;
    quotes: none;
    margin-left: 1em;
  }

  blockquote::before,
  blockquote::after,
  q::before,
  q::after {
    content: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: #444;
    text-align: center;
    // margin: 1.5em 5px ;
    padding: 1.5em 1em;
  }

  h1 {
    font-size: 24px;
    border-bottom: 1px solid #ddd;
  }

  h2 {
    font-size: 20px;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 0 auto;
    table-layout: fixed;
  }

  tbody {
    margin: 0;
    padding: 0;
    border: 0;
  }

  table tr {
    border: 0;
    border-top: 1px solid #ccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  table tr th,
  table tr td {
    font-size: 12.5px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 5px 10px;
  }

  table tr th {
    font-weight: bold;
    color: #eee;
    border: 1px solid #444;
    background-color: #444;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  /*
   * 额外添加样式
  */
  input[type="checkbox"] {
    -webkit-appearance: checkbox;
  }
  table tr th,
  table tr td {
    &[align="center"] {
      text-align: center;
    }
    &[align="right"] {
      text-align: right;
    }
  }
  a {
    position: relative;
    color: yellowgreen;
    // box-shadow: 0 1px 0 0 currentColor;
    &:hover {
      &::after {
        left: 0;
        right: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      height: 1px;
      background: yellowgreen;
      transition: all 0.3s ease;
    }
  }
  ul li {
    list-style-type: disc;
    li {
      list-style-type: circle;
      li {
        list-style-type: square;
      }
    }
  }
  ol li {
    list-style-type: decimal;
  }
  :not(pre) > code[class*="language-"] {
    padding: 0.2rem 0.4rem;
  }
  blockquote {
    padding: 8px 12px;
    background-color: #f3f3f3;
    p {
      margin: 0;
    }
  }
}
