@media (max-width: $lg) {
  .Layout {
    max-width: $md;
  }

  .Header {
    max-width: $md;
  }
}

@media (max-width: $md) {
  .Layout {
    max-width: $sm;
  }

  .Header {
    max-width: $sm;
  }

  .Main-class {
    .main-container {
      flex-direction: column;
    }
  }

  .NavRight-class {
    width: 100%;
  }

  .Catalogue-class {
    display: none;
  }
}

@media (max-width: $sm) {
  .Layout {
    max-width: 100%;
  }

  .Header {
    max-width: 100%;

    .hamburger {
      display: block;
    }

    .search-box {
      label {
        input {
          padding-left: 0;
          width: 0;
        }
        span {
          display: none !important;
        }
      }

      .mobile-search {
        display: flex !important;
      }
    }
  }

  .Sidebar-class {
    width: 260px;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s ease;
    .sidebar-foot {
      width: 100%;
    }
  }

  .Masking-class {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
  }

  .Siderbar-show {
    transform: translate3d(0, 0, 0) !important;
  }

  .Post-page-class {
    padding: 0;
  }

  .Main-class {
    padding-left: 0;
  }

  .Main-list-class {
    padding: 0;
    .main-img-left-layout {
      border-radius: 0;
    }
    .main-have-img {
      grid-template-columns: none;
      grid-template-rows: 180px 40px 75px 40px;
      .left-img {
        grid-row: 1;
      }
      p {
        margin: 5px 22px;
      }
    }
  }

  .Footer-class {
    justify-content: center;
    font-size: 12px;
    .beian {
      display: none;
    }
  }

  .ERR-404-Class {
    flex-direction: column;
    img {
      margin: 0;
      height: 180px;
    }
    div {
      margin: 0;
      margin-bottom: 80px;
      h1 {
        font-size: 80px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}
