@font-face {
  font-family: 'iconfont';  /* project id 1589053 */
  src: url('https://at.alicdn.com/t/font_1589053_x3fwr3k6cvb.eot');
  src: url('https://at.alicdn.com/t/font_1589053_x3fwr3k6cvb.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1589053_x3fwr3k6cvb.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1589053_x3fwr3k6cvb.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1589053_x3fwr3k6cvb.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1589053_x3fwr3k6cvb.svg#iconfont') format('svg');
}

@font-face {
  font-family: ZpixReviewOnline;
  src: url(../fonts/zpix.woff2) format('woff2');
}
@font-face {
  font-family: firaCode;
  src: url(../fonts/firaCode.woff2) format('woff2');
}

body,.omg-markdown {
  font-family:"ZpixReviewOnline", "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei" !important;
}

input,
a,
div,
ul,
li,
span {
  &:focus {
    outline: none;
  }
}

// 区分markdown
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  font-family:"ZpixReviewOnline", "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei";
  border: none;
  outline: none;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  font-style: normal;
}
html,
body {
  height: 100%;
  width: 100%;
}
address,
caption,
cite,
code,
dfn,
strong,
th,
var {
  font-family:"firaCode", "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei" !important;
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  box-shadow: none;
}
a:link {
  color: #666;
}
a:visited {
  color: #666;
}
a:hover {
  color: #666;
}
a:active {
  color: #666;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
input {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  padding: 0;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input::-ms-input-placeholder {
  color: #ccc;
}
input::-moz-placeholder {
  color: #ccc;
}
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
img {
  border: none;
}
ul,
ol,
li {
  list-style-type: none;
}

i {
  font-style: normal;
  outline: none;
}
